/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-color-primary: #FF6969 !important; /* Remplacez par la couleur de votre choix */
  --ion-color-test: #1f9b1f !important; /* Remplacez par la couleur de votre choix */
}